@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif;
}

body {
    height: 100vh;
    background: url("/assets/dasdsa.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.relogio{
    background: rgba(5,5, 5, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 1200px;
    border-radius: 20px;
    box-shadow: 0px 8px 10px rgba(5,5, 5, 0.7);
    div{
        background: rgba(5,5, 5, 0.7);
        height: 400px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
        border-radius: 7px;
        letter-spacing: 3px;
    }
}

span {
    font-weight: bold;
    font-size: 100px;
}
.tempo {
    font-size: 30px;
}